<div class="px-4">

<% if !(user_signed_in?) || @profile.user_id != current_user.id %>
    <div class="alert alert-danger" role="alert">You can only edit your own profile</div>
<% else %>
    <h1>Editing Profile</h1>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Show', @profile %> |
    <%= link_to 'Back', profiles_path %>
<% end %>

</div>