<% if !user_signed_in? %>
    <h1>You must sign in to see your messages</h1>
<% else %>
    <h1>Messages</h1>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>From/To</th>
                <th>Message</th>
                <th>Date/time</th>
                <th>Respond</th>
            </tr>
        </thead>

        <tbody>
            <% @messages.each do |message| %>
                <tr>
                    <% if message.sender_id == current_user.id %>
                        <td>Sent</td>
                        <td><%= message.receiver_id %></td>
                    <% else %>
                        <td>Received</td>
                        <td><%= message.sender_id %></td>
                    <% end %>
                    <td><%= message.message %></td>
                    <td><%= message.created_at %></td>
                    <td>Respond</td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>