<div class="px-4 mt-4">

<% if !user_signed_in? %>
    <div class="alert alert-danger" role="alert">You must sign in first</div>
<% elsif @user_profile %>
    <div class="alert alert-warning" role="alert">You've already created a profile. To make changes, click My Profile.</div>
<% else %>
    <h1>New Profile</h1>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', profiles_path %>
<% end %>

</div>