<% if !user_signed_in? %>
    <h1>You must sign in first</h1>
<% elsif @user_profile %>
    <h1>You've already created a profile. To make changes, click My Profile.</h1>
<% else %>
    <h1>New Profile</h1>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', profiles_path %>
<% end %>