<div class="px-4 mt-4">

<h1>About qmentor</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <%= image_tag asset_path("about-img.jpg"), class: "about-image" %>
        </div>
        <div class="col">
            <p>At qmentor, we pair LGBTQ mentors and mentees together for virtual life mentorship.</p>
            <p>Our goal is to help LGBTQ people find someone they can talk to about whatever they need.</p>
            <p>Qmentor was founded in Australia at the beginning of the covid-19 pandemic. We felt that difficult times necessitate support, even more so than usual, and thus qmentor was born.</p>
            <p>As of March 2020, there are more than 200 mentees and mentors from around the world involved in the program. Anyone 18+ in the LGBTQ community or questioning is welcome to join, reglardless of location.</p>
            <p>All mentorship is done virtually through whatever communication method the mentor and mentee prefer.</p>
            <p>To contact us, please email <a href = "mailto:qmentor@qmentor.org">qmentor@qmentor.org</a>.</p>
        </div>
    </div>
</div>

</div>

<br>