<div class="px-4 mt-4">

<h1>About qmentor</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <%= image_tag asset_path("about-img.jpg"), class: "about-image" %>
        </div>
        <div class="col">
            <p>At qmentor, we pair LGBTQ mentors and mentees together for virtual life mentorship.</p>
            <p>Our goal is to help LGBTQ people find someone they can talk to about whatever they need.</p>
            <p>To contact us, please email qmentor@qmentor.org</p>
        </div>
    </div>
</div>

</div>