<div class="px-4 mt-4">

<h1>Redirecting to Stripe</h1>

<script src="https://js.stripe.com/v3/"></script>

<script>
    window.onload = (event) => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session %>"
        });
    };
</script>

</div>